# =========================
# OS
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Windows
# =========================
$RECYCLE.BIN/
*.lnk

# =========================
# PowerShell
# =========================
*.ps1xml
*.psm1xml
*.pssc
*.psrc

# =========================
# Logs
# =========================
*.log
logs/*
!logs/.gitkeep

# =========================
# Temporary Files
# =========================
*.tmp
*.temp
*.cache

# =========================
# Build / Generated Docs
# =========================
docs/generated/

# =========================
# Espanso
# =========================
# local espanso configs
AppData/Roaming/espanso/
AppData/Local/espanso/

# =========================
# CopyQ
# =========================
copyq.ini

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Git
# =========================
*.orig